.bc-header {
  background-image: url("../images/main_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bc-how-order {
  background-image: url("../images/main_banner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bc-free {
  background-image: url("../images/main_banner4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}