.why-wrapper {
  background: #f5f5f5;
  .why-block {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 80px;
    .why-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      width: 45%;
      .why-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        height: 68px;
        width: 68px;
        border: 1px solid #cfc8c6;
        box-sizing: border-box;
        flex: 0 0 68px;
      }
      .item-descr {
        h2 {
          margin: 0;
          padding: 0;
        }
        p {
          margin: 0;
          padding-top: 5px;
          padding-bottom: 0;
        }
      }
    }
  }
}